# Pandas Review

Pandas is a Python library that makes it easy to work with large datasets. This notebook will help you review everything you need to know to use this library for your project.

## The basics

First, let's import the pandas library with the alias "pd".

In [2]:
import pandas as pd

Next let's create a pandas dataframe by reading a CSV file.

You'll need to use the pd.read_csv() function. For this review, use the "Female_heights.csv" file from Slack.

In [3]:
# Don't forget to store your dataframe in a variable! 
# You can name it anything you want, but we usually use "df" to refer to a dataframe.
df = pd.read_csv("Female_heights.csv")

Next, use the .head() function to preview your dataframe.

In [4]:
df.head()

   Gender  Age  Height (inches)
0  Female   14               62
1  Female   14               66
2  Female   14               65
3  Female   14               65
4  Female   14               63

How many rows are in this dataset? Find out using the len() function.

In [7]:
len(df.head())

5

Now let's find out the average age of the women in this dataset. 

Create a variable that holds only the "Age" column from the dataframe.

Now print out the average age using the .mean() function.

Now print the minimum and maximum height of all the women in the dataset.

First, create a variable that holds the "Height (inches)" column

In [ ]:
# Remember that you need to type the column name exactly as it appears in the dataframe

Next, use the .min() and .max() function to find the minimum and maximum heights.

## Using .loc

Let's find out how old the tallest woman is. 

Run the following code to use the .loc[ ] indexing method to find the age of the woman who is 83 inchest tall.

In [ ]:
age.loc[height == 83]

Now let's practice using the .loc command! 

Store all the heights of the women who are 14 years old in a variable called age14.

In [ ]:
# Create your variable here


age14.head()

Now create a variable called age19 and repeat the process for women who are 19 years old.

In [ ]:
# Create your variable here


age19.head()

Next, print out the average value in age14 and age19 to compare the average heights of women who are those ages

## matplotlib and pandas

We can graph data from our pandas dataframe using matplotlib.

First, let's import matplotlib.pyplot using the alias plt

In [ ]:
import matplotlib.pyplot as plt

Next, we'll make a basic scatterplot using the plt.scatter() function.

Use age for the x data and height for the y data.

In [ ]:
# Don't forget to include plt.show()!

## Adding columns

Let's add a new column to the dataframe. 

First, find the average height of all women in the dataset

In [ ]:
# Remember that you stored the height column in a variable!

Now, let's add a column to the dataframe called "Diff from avg" that lists the difference in each woman's height from the average.

In [ ]:
# Name your new column with the structure df["New column"]
# Then set it equal to an equation that uses your existing column variables

In [ ]:
df.head()

Now that we've added a new column to our dataframe, let's export it as a CSV file. 

Use the df.to_csv() function with the name of your new CSV file as the argument.

In [ ]:
# Include index=False as the second argument if you don't want 
# to include the index numbers as a column in your CSV file

## Congratulations! You've completed the pandas review.

Other Jupyter Notebooks that you will find helpful for reviewing pandas include:
- 4.11.18 Creating a dataframe
- 4.18.18 Clinometer activity
- 4.23.18 Exploring Stellar Data
- 4.30.18 Making an HR Diagram
- Final Unit Project_Star Clusters