In [32]:
import pandas as pd
import matplotlib.pyplot as plt

In [33]:
df = pd.read_csv("nummemdata.csv")

In [34]:
df.head()

,Name,Unchunk #,# Correct (UC),Chunk #,# Correct (C)
0,Alexis,19310464424530224615625607504869210,9,"[09, 47, 16, 16, 17, 96, 71, 74, 94, 86, 79, 4...",9
1,Angelica,367490978713288505090307726688850986,2,72 55 82 49 69 31 15 09 03 74 40 58 02 58 93 9...,4
2,Anjali,711098922118864084845860067937245930,11,06 13 53 66 46 22 16 28 22 57 09 99 29 93 70 8...,9
3,Ariana,796250220443549497520217691245153068,7,92 27 65 93 49 61 66 29 27 68 37 66 88 84 40 3...,3
4,Avery,872147553626006227694057883492343668,9,97 25 82 22 64 12 07 85 00 00 46 51 52 65 48 5...,5

In [35]:
unchunk = df["# Correct (UC)"]
chunk = df["# Correct (C)"]

In [36]:
from scipy import stats
print(stats.ttest_ind(chunk, unchunk))

Ttest_indResult(statistic=-1.1524181176349486, pvalue=0.25718784702387743)